Package: com.anhdong.tweakloader
Name: TweakLoader
Version: 1.0.0
Architecture: iphoneos-arm
Description: Keep the screen awake while the application is active.
Maintainer: Anhdong
Author: Anhdong
Section: Tweaks
Depends: mobilesubstrate
